{% extends 'registration/index.html' %}

{% block title %} Products {% endblock %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables Of Product</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product Data</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Product Name</th>
                            <th>Product Company Name</th>
                            <th>Product Price</th>
                            <th>Enterd_By</th>
                        </tr>
                    </thead>
                    {% for data in product %}
                    <tbody>
                        <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.product_name}}</td>
                            <td>{{data.product_company_name}}</td>
                            <td>{{data.product_price}}</td>
                            <td>{{data.enterd_by}}</td>
                            </td>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}