{% extends 'registration/index.html' %}

{% block title %} Change Password {% endblock %}


{% block stylesheet %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}


<!-- <body> -->
{% block content %}
<form method="POST" enctype="multipart/form-data" action="{% url 'change_password' token %}" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>

        {% endfor %}
        <!-- Form Name -->
        <legend>CHANGE PASSWORD</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">NEW PASSWORD</label>
            <div class="col-md-4">
                <input id="new_password" name="new_password" placeholder="NEW PASSWORD" class="form-control input-md"
                    required="" type="text">
                <!-- {{form.product_name}} -->
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">CONFORM PASSWORD</label>
            <div class="col-md-4">
                <input id="confirm_password" name="confirm_password" placeholder="CONFORM PASSWORD"
                    class="form-control input-md" required="" type="text">
                <!-- {{form.product_company_name}} -->

            </div>
        </div>

        <input type="hidden" value="{{user_id}}">
        <!-- File Button -->
        <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">PRODUCT_IMAGE</label>
            <div class="col-md-4"> -->
        <!-- <input id="product_image" name="product_image" class="input-file" type="file"> -->
        <!-- {{form.product_image}} -->
        <!-- </div>
        </div> -->

        <!-- Text input-->
        <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">PRODUCT PRICE</label>
            <div class="col-md-4"> -->
        <!-- <input id="product_price" name="product_price" placeholder="PRODUCT PRICE"
                        class="form-control input-md" required="" type="number"> -->
        <!-- {{form.product_price}} -->

        <!-- </div>
        </div> -->

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="save" name="save" class="btn btn-primary">SAVE</button>
            </div>
        </div>

    </fieldset>
</form>
{% endblock %}