{% extends 'registration/index.html' %}

{% block title %} Doctor Vist {% endblock %}


{% block stylesheet %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% endblock %}


<!-- <body> -->
{% block content %}
<form method="POST" enctype="multipart/form-data" action="/doctor_vist/" class="form-horizontal">
    {% csrf_token %}
    <fieldset>

        <!-- Form Name -->
        <legend>Doctor'S Vist</legend>

        <!-- select input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Select Employee Name</label>
            <div class="col-md-4">
                <select class="form-control" id="employee_data" name="employee_data">
                    {%for employee in employee_name%}<option value="{{employee.first_name}}">{{employee.first_name}}
                    </option>{%endfor%}
                </select>

            </div>
        </div>

        <!-- month -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Select Months</label>
            <div class="col-md-4">
                <select class="form-control" id="months" name="months">
                    {%for months in month%}<option value="{{months}}">{{months}}
                    </option>{%endfor%}
                </select>

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="save" name="save" class="btn btn-primary">SAVE</button>
            </div>
        </div>

    </fieldset>
</form>
<hr>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">Doctor Vist Data</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Appointment Data</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Total Appointments Done</th>
                            <th>Employee Name</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        
                        <tr>
                            <td>{{employee.id}}</td>
                            <td>{{appointment_count}}</td>
                            <td>{{employee.enterd_by}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}