{% extends 'registration/index.html' %}

{% block title %} Forgot Password {% endblock %}


{% block stylesheet %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% endblock %}


<!-- <body> -->
{% block content %}
<form method="POST" enctype="multipart/form-data" action="/forget-password/" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>

        {% endfor %}

        <!-- Form Name -->
        <legend>FORGOT PASSWORD</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">USERNAME</label>
            <div class="col-md-4">
                <input id="username" name="username" placeholder="USERNAME" class="form-control input-md" required=""
                    type="text">
                <!-- {{form.product_name}} -->
            </div>
        </div>

        <!-- Text input-->
        <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">PRODUCT COMPANY NAME</label>
            <div class="col-md-4"> -->
        <!-- <input id="product_company_name" name="product_company_name" placeholder="PRODUCT_COMPANY_NAME"
                        class="form-control input-md" required="" type="text"> -->
        <!-- {{form.product_company_name}} -->

        <!-- </div>
        </div> -->

        <!-- File Button -->
        <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">PRODUCT_IMAGE</label>
            <div class="col-md-4"> -->
        <!-- <input id="product_image" name="product_image" class="input-file" type="file"> -->
        <!-- {{form.product_image}} -->
        <!-- </div>
        </div> -->

        <!-- Text input-->
        <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">PRODUCT PRICE</label>
            <div class="col-md-4"> -->
        <!-- <input id="product_price" name="product_price" placeholder="PRODUCT PRICE"
                        class="form-control input-md" required="" type="number"> -->
        <!-- {{form.product_price}} -->

        <!-- </div>
        </div> -->

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="save" name="save" class="btn btn-primary">SAVE</button>
            </div>
        </div>

    </fieldset>
</form>
{% endblock %}